.home-bg-container {
    color: var(--theme-page-text-color);
    background-color: var(--theme-page-bg-color);
    display: flex;
    flex-direction: column;
    --gap: 1em;
    gap: var(--gap);
    padding: 0 var(--total-page-pd-sm);
    @media (min-width: 620px) {
        padding-inline: var(--total-page-pd-md);
    }
    @media (min-width: 1050px) {
        padding-inline: var(--total-page-pd-lg);
    }
}

.home-content-bg-container {
}
.home-greeting-text {
    font-size: clamp(0.2rem, 1vw + 1.5rem, 2.3rem);
    margin-bottom: 0.7em;
    position: relative;
}
.home-greeting-text::after {
    content: attr(data-text);
    position: absolute;
    top: -104%;
    left: 0;
    background-image: linear-gradient(to right, #32f6f6, rgb(255, 146, 146));
    border-radius: 45px 10px 10px 30px;
    /* border-radius: 100% 0% 100% 0% / 58% 100% 0% 42% ; */
    padding: 0 0.3em;
}
.name {
    color: #737373;
    position: relative;
}
.name::after {
    content: "";
    position: absolute;
    width: 100%;
    border-top: 5px solid var(--theme-page-text-color);
    left: -10%;
    transform: rotate(-2deg);
    bottom: -14px;
    border-radius: 13%;
    height: 12px;
}
.home-content-para {
    font-size: clamp(0.1rem, 1vw + 0.7rem, 1.23rem);
    font-weight: lighter;
}
.home-content-btn-bg-container {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.home-btn {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.7em 0;
    width: min(30%, 10rem);
    margin-top: 1.8em;
    cursor: pointer;
    font-size: clamp(0.5rem, 1vw + 0.76rem, 1.3rem);
    transition: transform 0.23s linear;
    border: 2px solid white;
    box-shadow: 1px 1px 3px 1px var(--theme-page-text-color);
}

.cv-btn {
    background-color: #df580c;
}
.cv-btn:hover {
    transform: translateY(-4px);
}
.get-in-touch-btn {
    background-color: #434343;
}
.get-in-touch-btn:hover {
    transform: translateY(-4px);
}
.home-profile-bg-container {
    text-align: center;
}

@media (min-width: 827px) {
    .home-bg-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .home-content-bg-container {
        flex: 1 1 calc(60% - var(--gap));
    }
    .home-profile-bg-container {
        order: 1;
        flex: 1 1 calc(40% - var(--gap));
        text-align: right;
        margin-top: 3em;
    }
}
